@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Facundo Gonzalez</h1>
    <p>Bienvenido</p>
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <img src="~/images/muestra-2.jpg" alt="Ejemplo de imagen" />
    </div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
